html
  height: 100%

body
  min-width: 320px
  min-height: 100vh
  margin: 0

  font-family: Arial, sans-serif
  line-height: 1.15
  font-size: 16px

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  overflow: hidden
  clip-path: inset(100%)
