$DIRECTORY : "../../assets/fonts"

@mixin font-face($font, $style, $weight, $woff2, $woff)
  font-family: $font
  font-style: $style
  font-weight: $weight
  font-display: swap
  src: url(#{$DIRECTORY}/#{$woff2}) format("woff2"), url(#{$DIRECTORY}/#{$woff}) format("woff")
