extends ../../template/page
include ../../template/page-header

include ../../template/page-footer

block variables
  - title = "Page name"

block header
  +page-header
block main
  main.page__main
block footer
  +page-footer
