extends ../../templates/staffolding

include ../../templates/page-header
include ../../templates/page-footer

block variables
  - title = "Page name"

block header
  +page-header
block main
  main.page-content
block footer
  +page-footer
